{% load static %}
<link rel="stylesheet" href="{% static 'Css/Registration/navbar.css' %}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
<div class="navbar">
    <ul>
        <li><a href="{% url 'index' %}">Homepage</a></li>
        <li><a href="{% url 'Registration:register' %}">Register</a></li>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>

        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'Registration:user_login' %}">Login</a></li>
        {% endif %}
    </ul>
    {% if user.is_authenticated %}
        <h3></h3>
    {% else %}
        <h3></h3>
    {% endif %}
</div>