<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="{% static 'Css/Registration/register.css' %}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
</head>
<body>
    <div class="container">
        {% if registered %}
            <h1>Thank you for registering!</h1>
        {% else %}
            <h1>Register Here!</h1>
            <h3>Fill out the Form:</h3>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ profile_form.as_p }}
                {{ user_form.as_p }}
                {{ username }}
                
                <input class="Submit" type="submit" value="Register">
            </form>
        {% endif %}
    </div>

    <div class="navbarInRegister">
        {% include 'navbar.html' %}
    </div>
</body>
</html>